/* FORM STYLING */
/*====================*/

#contact-area {
	width: 700px;
	display: block;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}
#contact-area #contactform {
	
}
#contact-area input, #contact-area textarea, #contact-area select {
	padding: 5px;
	width: 471px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 20px;
	vertical-align: middle;
	margin: 0px 0px 10px 0px;
	border: 1px solid #DBDBDB;
	color: #797979;
}

#contact-area textarea {
	height: 90px;
}
#contact-area input.error, #contact-area textarea.error {
	border: 1px solid red;
}
#contact-area textarea:focus, #contact-area input:focus {
	border: 1px solid #73ABFF;
	outline: none;
}

#form-tick-box {
	float: right;
	margin-right: 58px;
	margin-bottom: 5px;
}

#contact-area input#form-confirmation {
	width: auto;
	margin-top: 3px;
	margin-right: 3px;
}

#form-tick-box span {
	vertical-align: top;
	color: #797979;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: right;
}

#contact-area button.submit-btn {
	width: 100px;
	float: right;
	margin-right: 58px;
}

label {
	float: left;
	text-align: right;
	margin-right: 10px;
	width: 160px;
	padding-top: 0px;
	font-size: 17px;
	line-height: 31px;
	vertical-align: middle;
	color: #797979;
	font-weight: 400;
}
.leaveblank {
	display: none !important;
}
.leavehere {
	display: none !important;
}
.contact-success {
	text-align: center;
}
.contact-error {
	text-align: center;
}


/* BUTTON STYLING */ 
button.submit-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:30px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	clear: both;
}
button.submit-btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	cursor: pointer;
}
button.submit-btn:active {
	position:relative;
	top:1px;
}
button.submit-btn:focus {
	outline: none;
}
.sent {
	display: none;
}
.sentoverlay {
	position: relative;
	height: 454px;
	width: 98%;
	text-align: center;
	display: none;
	padding-top: 160px;
}
.sentoverlay h2 {
	color: #2B2B2B;
	margin-top: 0px;
	font-size: 16px;
	line-height: 26px;
}